.header {
    width: 100%;
    margin: 0;
    // padding: 10px;
    box-sizing: border-box;
    color: rgb(37, 116, 219);

    &__title {
        margin: 0;
        padding: 10px;
        display: inline-block;
    }
}
